[Desktop Entry]
Encoding=UTF-8
Name=Link to [TOOLS] [Scripts] Build Kernel.elf ICS [Miro/Tipo/J/E] | XDA Forums
Type=Link
URL=https://xdaforums.com/t/tools-scripts-build-kernel-elf-ics-miro-tipo-j-e.2532724/
Icon=mate-fs-bookmark
