[Desktop Entry]
Encoding=UTF-8
Name=Link to GitHub - SatrioDwiPrabowo/Xperia-Kernel-Compiler
Type=Link
URL=https://github.com/SatrioDwiPrabowo/Xperia-Kernel-Compiler
Icon=mate-fs-bookmark
